.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-input-container {
  background-color: #f1f5f9;
  border-radius: 5px;
  padding: 5px;
}
.search-input {
  border: none;
  outline: none;
  background-color: #f1f5f9;
  width: 90%;
}
.rating-image {
  min-width: 100px;
  max-width: 200px;
  height: 50px;
}
.rating-list {
  list-style-type: none;
  padding: 0px;
}
.category-list {
  list-style-type: none;
  padding: 0px;
}
.rating-item {
  background: none;
  border: none;
}
.rating {
  display: flex;
  flex-direction: row;
}
